<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Student - Assessment View</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='style.css')}}"
		/>
	</head>
	<body>
		<h1>
			<a href="{{ url_for('course_view') }}">COURSE VIEW</a> >
			<a href="{{ url_for('module_view',module_id=module_id) }}"
				>MODULE VIEW</a
			>
			> ASSESSMENT VIEW
		</h1>
		<h2>Assessment: {{assessment_id}}</h2>
		<p>
			Total: {{headline_marks.0}}/{{headline_marks.1}} ({{ "%.2d" |
			format((headline_marks.0/headline_marks.1)*100)}}%)
		</p>

		<div class="content-block">
			<div
				class="chart-container"
				style="position: relative; height: 20vh; margin-bottom: 12rem"
			>
				<canvas id="myChart"></canvas>
			</div>
		</div>

		{% for question, mark_tuple in dictionary_of_marks.items() %}
		<div class="content-block">
			<h1>Question: {{question}}</h1>
			<p>
				Total: {{mark_tuple.0}}/{{mark_tuple.1}} ({{ "%.2d" |
				format((mark_tuple.0/mark_tuple.1)*100)}}%)
			</p>
		</div>

		{% endfor %}
		<a href="https://www.youtube.com/watch?v=eqI8gtiN52k" target="_blank"
			>Export data</a
		>

		<script>
			const correct = '{{headline_marks.0}}';
			const incorrect = '{{headline_marks.1-headline_marks.0}}';

			const ctx = document.getElementById('myChart').getContext('2d');
			const myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['Correct', 'Incorrect'],
					datasets: [
						{
							label: 'Assessment View',
							data: [correct, incorrect],
							backgroundColor: [
								'rgb(54, 162, 235)',
								'rgb(255, 99, 132)',
							],
							hoverOffset: 4,
						},
					],
				},
			});
		</script>
	</body>
</html>
