<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='style.css')}}"
		/>
	</head>
	<body>
		<div class="content-block">
			<h1>COURSE VIEW</h1>
			<p>
				Total: {{final_results.0}}/{{final_results.1}} ({{ "%.2d" |
				format((final_results.0/final_results.1)*100)}}%)
			</p>
		</div>

		{% for module, assessment_dict in results_dict.items() %}
		<div class="content-block">
			<a href="{{ url_for('module_view',module_id=module) }}">
				<h1>Module: {{module}}</h1>
			</a>
			<p>
				Total: {% for module_id, results_tuple in module_totals.items()
				%} {% if module_id == module %}
				{{results_tuple.0}}/{{results_tuple.1}} ({{ "%.2d" |
				format((results_tuple.0/results_tuple.1)*100)}}%) {% endif %} {%
				endfor %}
			</p>
		</div>
		<ul>
			{% for assessment, results_tuple in assessment_dict.items() %}
			<li>
				<div class="content-block">
					<a
						href="{{ url_for('assessment_view',assessment_id=assessment) }}"
					>
						<h2>Assessment: {{ assessment }}</h2>
					</a>
					<p>
						Total: {{results_tuple.0}} / {{results_tuple.1}} ({{
						"%.2d" |
						format((results_tuple.0/results_tuple.1)*100)}}%)
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</body>
</html>
