<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Student - Course View</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='style.css')}}"
		/>
	</head>
	<body>
		<h1>COURSE VIEW</h1>
		<div class="content-block">
			<h2>Course: 1</h2>
			<p>
				Total: {{course_marks.0}}/{{course_marks.1}} ({{ "%.2d" |
				format((course_marks.0/course_marks.1)*100)}}%)
			</p>
		</div>

		<div class="content-block">
			<div
				class="chart-container"
				style="position: relative; height: 20vh; margin-bottom: 12rem"
			>
				<canvas id="myChart"></canvas>
			</div>
		</div>

		{% for module, mark_tuple in dictionary_of_module_marks.items() %}
		<div class="content-block">
			<a href="{{ url_for('module_view',module_id=module) }}">
				<h1>Module: {{module}}</h1>
			</a>
			<p>
				Total: {{mark_tuple.0}}/{{mark_tuple.1}} ({{ "%.2d" |
				format((mark_tuple.0/mark_tuple.1)*100)}}%)
			</p>
		</div>

		{% endfor %}

		<script>
			const correct = '{{course_marks.0}}';
			const incorrect = '{{course_marks.1-course_marks.0}}';

			const ctx = document.getElementById('myChart').getContext('2d');
			const myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['Correct', 'Incorrect'],
					datasets: [
						{
							label: 'Course View',
							data: [correct, incorrect],
							backgroundColor: [
								'rgb(54, 162, 235)',
								'rgb(255, 99, 132)',
							],
							hoverOffset: 4,
						},
					],
				},
			});
		</script>
	</body>
</html>
